<h1>Handleiding</h1>
<p id="voorwoord">Welkom op VYBE. Het platform van onderzoekers om makkelijk vragen te stellen.</p>
<h2>Wat doen we?</h2>
<p>
    Op dit platform kan je als onderzoeker sessies starten met een aantal vragen. Deze sessie kan opengesteld worden voor personen die aan deze vragenlijst kunnen deelnemen. Met deze resultaten kan er onderzoek gedaan worden.
</p>
<h3>Een nieuwe sessie starten</h3>
<p>Op deze pagine kan u een nieuwe sessie starten. Een sessie genereert automatisch een 5-cijferige code. Deze code moeten de patiënten invullen om aan de sessie te kunnen deelnemen.</p>
<h2>Stap 1</h2>
<p>U geeft de sessie een naam en optioneel een wachtwoord.</p>
<h2>Stap 2</h2>
<p>Hier kiest u de vragen die u wilt gebruiken in de sessie.</p>
<h2>Stap 3</h2>
<p>Hier kan u kiezen tussen drie verschillende schalen om antwoorden op te nemen. U kan ook kiezen of de deelnemers hun antwoorden te zien krijgen of niet.</p>
<h4>De verschillende schalen:</h4>
<h5>Gradient</h5>
<img src="assets/gradientscale.png" class="scales" >
<p>Dit is de gradient schaal. De laagste waarde hoort bij het rode deel. De hoogste waarde hoort bij het groene deel. Met een slider kan men een waarde selecteren.</p>
<h5>Line</h5>
<img src="assets/sliderscale.png" class="scales" >
<p>Dit is de lijn schaal. De laagste waarde hoort bij de linkse kant en de hoogste waarde hoort bij de rechtse kant van de schaal. Met een slider kan men een waarde selecteren.</p>
<h5>Draw</h5>
<img src="assets/drawscale.png" class="scales" >
<p>Dit is de teken schaal. Hierop kan men een lijn trekken om een vraag te beantwoorden. De laagste waarde hoort bij de linkse kant en de hoogste waarde hoort bij de rechtse kant van de schaal. </p>
<h2>Stap 4</h2>
<p>De sessie kan ook bekeken worden door andere onderzoekers. Bij deze stap kan u deze toevoegen per e-mail.</p>
<h2>Stap 5</h2>
<p>Hier ziet u informatie over de sessie die u juist heeft aangemaakt. U kan deze nu direct starten op opslaan om deze later te starten.</p>

<a class="GoTo" routerLink="/dashboard/sessions/new">Maak hier een nieuwe sessie aan</a>

<h3>Actieve sessies</h3>
<p>In de lijst van actieve sessies kan u de sessies zien die momenteel nog open zijn. U kan daar op een sessie klikken en deze sluiten. In de lijst ziet u bij elke sessie een 5-letterige code, de patiënten die willen toetreden tot een
    een sessie moeten deze code invullen op hun smartphone of tablet <span style="color:grey">Bv AAAAA</span> </p>
<a class="GoTo" routerLink="/dashboard/open-sessions">Ga naar actieve sessies</a>

<h3>Recente sessies</h3>
<p>In deze lijst kan u de recente sessies zien die afgelopen zijn. Zo kan u elke sessies opnieuw bekijken. In de lijst ziet u bij elke sessie een 5-letterige code, de patiënten die willen toetreden tot een
        een sessie moeten deze code invullen op hun smartphone of tablet <span style="color:grey">Bv AAAAA</span></p>

<a class="GoTo" routerLink="/dashboard/sessions">Ga naar recente sessies</a>

<h3>Opgeslagen Sessies</h3>
<p>Hier kan u de sessies zien die opgeslagen zijn als concept. U moet deze sessies nog openen zodat deelnemers kunnen deelnemen. In de lijst ziet u bij elke sessie een 5-letterige code, de patiënten die willen toetreden tot een
        een sessie moeten deze code invullen op hun smartphone of tablet <span style="color:grey">Bv AAAAA</span></p>
<a class="GoTo" routerLink="/dashboard/saved-sessions">Ga naar opgeslagen sessies</a>

<h3>Vragen</h3>
<p>Dit is een lijst met alle vragen. Deze vragen hebben elk hun positieve en negatieve waarde. In deze lijst kan ook gezocht worden. U kan hier ook nieuwe vragen aanmaken.</p>
<h2>Een nieuwe vraag aanmaken</h2>
<p>U kan hier de vraag invullen samen met hun hoogste en laagste waarde.</p>
<a class="GoTo" routerLink="/dashboard/questions">Ga naar de lijst met vragen</a>

<h3>Deelnemers</h3>
<p>Hier ziet u een lijst met alle deelnemers die ooit aan een sessie hebben deelgenomen die u aangemaakt hebt. Hier ziet u de deelnemers hun naam, leeftijd en ziekte.</p>
<a class="GoTo" routerLink="/dashboard/subjects">Ga naar deelnemers</a>

<h3>Instellingen</h3>
<p>Op deze pagina kan u uw gegevens veranderen, uw paswoord resetten en onderzoekers uitnodigen om een account aan te maken.</p>
<h2>Onderzoekers uitnodigen</h2>
<p>In het veld vult u een emailadres in en daarna drukt u op Enter. U kan meerdere e-mailadressen in de lijst zetten om daarna een uitnodiging te verzenden.</p>
<a class="GoTo" id="last" routerLink="/dashboard/settings">Ga naar instellingen</a>