<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <h2 mat-dialog-title>Paswoord resetten</h2>
  <mat-dialog-content>Voer uw email adres in. Hierna zal u een mail ontvangen met een link naar een Auth0 pagina waar u uw paswoord kan resetten.</mat-dialog-content>
  <br>
  <mat-form-field style="width: 100%">
    <input matInput placeholder="Email" ngModel email name="email">
  </mat-form-field>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Annuleren</button>
    <button mat-button type="submit">Verstuur email</button>
  </mat-dialog-actions>
</form>
